* {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    color:grey;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:hover{
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:orange;
    color: white;
}
#back {
    position: fixed;
    text-decoration: none;
    width: 100px;
    margin-top: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    background-color: orange;
    color: white;
    text-align: center;
}
#back:hover {
    color: black;
}
#form {
    position: fixed;
    margin-top: 25px;
}
#input {
    padding: 8px;
    border: 1px solid #ddd;
    color: black;
}
#add {
    background-color: orange;
    padding: 8px;
    color: white;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px; 
}
#add:hover {
    color: black;
}

