* {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    height: 120vh;
}

h2 {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    color:grey;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:hover{
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:orange;
    color: white;
}
#back {
    position: absolute;
    text-decoration: none;
    width: 100px;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    background-color: orange;
    color: white;
    text-align: center;
}
#back:hover {
    color: black;
}
#form {
    position: inherit;
    margin-top: 25px;
}
#input {
    padding: 8px;
    border: 1px solid #ddd;
    color: black;
}
#add {
    background-color: orange;
    padding: 8px;
    color: white;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px; 
}
#add:hover {
    color: black;
}
#input1 {
    position: inherit;
    padding: 5px;
    border: 1px solid #ddd;
    color: grey;
    margin-top: 25px;
}
#delete {
    background-color: orange;
    padding: 1px;
    color: white;
    width: 85px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
}
#delete:hover {
    color: black;
}
#logout {
    position: relative;
    bottom: -105px;
    left: 570px;
}
#logout a {
    text-decoration: none;
    background-color: orange;
    padding: 15px;
    color: white;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#logout a:hover {
    color: black;
}

